<div>

    <div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="http://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ $ctrl.showUser().name }}</p>
                <p class="subtitle is-6">{{ $ctrl.showUser().email }}</p>
            </div>
        </div>

        <div class="content">
            <br>
            <p>{{ 'Phone:' + $ctrl.showUser().phone }}</p>
            <p>{{ 'Website: ' + $ctrl.showUser().website }}</p>
            <h2>Company</h2>
            <p>{{ 'Company Name: ' + $ctrl.showUser().company.name }}</p>
            <p>{{ 'Catch Phrase: ' + $ctrl.showUser().company.catchPhrase }}</p>
            <p>{{ 'Bs: ' + $ctrl.showUser().company.bs }}</p>
        </div>
    </div>
    </div>
</div>
